.photo-capture {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 100%;
  overflow: hidden;

  .webcam-container,
  .image-container {
    width: 100%;
    max-width: 500px;
    height: auto;
  }

  .webcam-container webcam,
  .image-container img {
    width: 100%;
    height: auto;
    display: block;
  }

  .webcam-container {
    position: relative;
    aspect-ratio: 1/1;
  }

  .webcam-container webcam {
    width: 100%;
    height: 100%;
  }

  .image-container {
    margin-top: 20px;
  }

  button {
    margin-top: 10px;
  }
}
