<div class="app">
  <button mat-flat-button (click)="openDialog()" color="primary">
    Check In
  </button>
  <div class="table">
    <div class="table-header">
      <div class="table-cell nik">NIK</div>
      <div class="table-cell">Name</div>
      <div class="table-cell nik">Presence</div>
      <div class="table-cell">Check In</div>
      <div class="table-cell">Check Out</div>
      <div class="table-cell">Attendance</div>
      <div class="table-cell"></div>
    </div>
    <div class="table-row" *ngFor="let presence of presences">
      <div class="table-cell nik">{{ presence.nik }}</div>
      <div class="table-cell">{{ presence.name }}</div>
      <div class="table-cell nik">{{ presence.PresenceType.type }}</div>
      <div class="table-cell">{{ presence.checkIn }}</div>
      <div class="table-cell">{{ presence.checkOut }}</div>
      <div class="table-cell"><img [src]="presence.pict" /></div>
      <div class="table-cell">
        <button mat-flat-button color="warn" (click)="co(presence.nik)">
          Check Out
        </button>
      </div>
    </div>
  </div>
</div>
